:root { 
--gray_50_01:#f8f9fa; 
--gray_50_02:#fafcff; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_A200:#588af1; 
--red_400:#f14a60; 
--blue_A700_01:#0a58ff; 
--green_600:#349765; 
--gray_50:#f9fbff; 
--black_900_01:#090b0d; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_A200_01:#4d90ff; 
--blue_gray_800:#363853; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--gray_700_11:#55555511; 
--black_900_4c:#0000004c; 
--blue_gray_200:#bac1ce; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9ea8ba; 
--blue_800:#0051d5; 
--red_A200:#ff4b4b; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--blue_200:#a6c8ff; 
--blue_gray_400_01:#75839d; 
--white_A700:#ffffff; 
}